.product-card {
  margin: 5px;
  border-radius: 10px;
  box-shadow: 10px 15px 30px grey;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.product-card .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.item {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 20px;
  position: relative;
  bottom: 0;
}

.item p {
  color: grey;
  opacity: 0.7;
  margin-top: 10px;
  font-size: smaller;
}
/* .item .item-price {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
} */
.cart-btn {
  width: auto;
  margin: 10px 0px;
  border: none;
  background-color: rgba(0, 0, 255, 0.486);
  border-radius: 5px;
  height: 40px;
  color: white;
  box-shadow: 3px 6px 12px grey;
}
